// variables
// Default grid values
$default-column-width:60px;
$default-gutter-width:20px;
$default-columns-amount: 12;

@import "bower_components/gi-scss-mixins/mixins";
@import "bower_components/gi-scss-global-variables/global-variables";
@import "bower_components/gi-scss-responsive-utilities/responsive-utilities";
@import "bower_components/gi-ui-buttons/style";
@import "style";


body {
	padding-top: $horizontal-toolbar-desktop-height + 20px;
}
.fr {
	float:right !important;
}

.container {
	width:gridsystem-width();
	margin:0 auto;
	background: white;
	@include respond-to(desktop) {
		width: 100%;
	}
}
