@import "compass";

$horizontal-toolbar-bg-color: rgba(#fff, 0.95) !default;
$horizontal-toolbar-highlighted-bg-color: #fff !default;
$horizontal-toolbar-desktop-height: 120px !default;
$circle-avatar-image-size: 50px !default;

$horizontal-toolbar-breakpoint: $break-small !default;

// Mobile style
$horizontal-toolbar-mobile-height: 50px !default;
$horizontal-toggle-color: #000 !default;
$horizontal-toggle-width: 85px !default;
$horizontal-toggle-height: 40px !default;
$horizontal-toggle-lines-width: 30px !default;
$horizontal-toggle-lines-gap: 6px !default;
$horizontal-toggle-lines-thickness: 2px !default;
$horizontal-toggle-top: 4px !default;
$horizontal-toggle-right: 10px !default;

.ui-horizontal-toolbar {
	top: 0;
	position: absolute;
	width: 100%;
	height: $horizontal-toolbar-desktop-height;
	background: $horizontal-toolbar-bg-color;
	@include box-sizing(border-box);
	@include box-shadow(0 0 5px rgba(0, 0, 0, 0.7));
	@include transition(background 0.2s);

	@include breakpoint($horizontal-toolbar-breakpoint) {
		height: $horizontal-toolbar-mobile-height;
	}

	&.fixed {
		position: fixed;
	}

	&.highlited,
	&:hover,
	&:active,
	&:focus {
		background: $horizontal-toolbar-highlighted-bg-color;
	}

	.toolbar-item {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}

	.logo-wrapper {
		line-height: 0;

		@include breakpoint($horizontal-toolbar-breakpoint) {
			display: inherit;
			height: $horizontal-toolbar-mobile-height;

			img {
				height: 100%;
			}
		}
	}

	.contact-data {
		display: inline-block;
		line-height: 0;

		span {
			position: absolute;
		}

		.contact-image {
			top: 50%;
			overflow: hidden;
			margin-top: -$circle-avatar-image-size / 2;
			width: $circle-avatar-image-size;
			height: $circle-avatar-image-size;
			@include border-radius(100%);

			img {
				width: 100%;
				height: 100%;
			}
		}

		.contact-text {
			top: 50%;
			line-height: 1.2rem;
			@include transform(translateY(-50%));
			margin-left: $circle-avatar-image-size * 1.2;
		}
	}

	.main-menu {
		margin: 0;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			opacity: 1;

			&.animated {
				@include transition(all 0.2s $ease-in-quad);
			}

			li ul.in {
				visibility: visible;
				@include opacity(1);
			}

			li {
				display: inline-block;
				margin: 0;

				ul {
					position: absolute;
					overflow: hidden;
					height: 0;
					@include opacity(0);

					li {
						float: left;
						clear: both;
					}
				}
			}
		}
	}
	/**
	 * Mobile menu
	 */
	@include breakpoint($horizontal-toolbar-breakpoint) {
		&.menu-opened {
			.main-menu {
				@include opacity(1);
				@include transform(translateY($horizontal-toolbar-mobile-height));
			}
		}

		.main-menu {
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
			@include transition(all 0.3s $ease-in-quad);
			@include opacity(0);
			@include transform(translateY(-100%));

			ul {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				@include transition(opacity 0.3s $ease-in-out-quart);

				&.out {
					z-index: -1;

					& > li {
						a {
							@include transform(translateX(-100%));
							@include opacity(0);
						}
					}
				}

				&.in,
				li ul.in {
					z-index: 0;
					@include transform(translateY(0));

					& > li {
						a {
							@include opacity(1);
							@include transform(translateX(0));
						}
					}
				}

				li {
					width: 100%;
					display: block;

					a {
						display: block;
						width: 100%;
						margin: 0;
						text-decoration: none;
						@include transition(all 0.3s $ease-in-out-quart);
						@include box-sizing(border-box);
					}

					ul {
						z-index: -1;
						overflow: visible;
						visibility: visible;
						height: auto;

						li {
							a {
								@include transform(translateX(100%));
							}
						}
					}
				}
			}
		}
	}
}

/**
*
* This contains the mobile toggle switch to show or hide the mobile navigation
*
**/

.ui-horizontal-toggle {
	display: none;
	// this is hidden by default
	position: absolute;
	cursor: pointer;
	top: $horizontal-toggle-top;
	right: $horizontal-toggle-right;
	@include size($horizontal-toggle-width, $horizontal-toggle-height);

	@include breakpoint($horizontal-toolbar-breakpoint) {
		display: block;
	}

	/**
	*
	* If you need text put it in here
	*
	*/
	.ui-horizontal-toggle-text {
		display: inline-block;
		left: 0;
		top: 0;
		position: relative;
		line-height: $horizontal-toggle-height;
	}
	/**
	*
	* All the icons could be used here
	*
	*/
	.ui-horizontal-toggle-graphic {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		height: ($horizontal-toggle-lines-gap + $horizontal-toggle-lines-thickness) * 2;
		width: $horizontal-toggle-lines-width;
		top: ($horizontal-toggle-height - ($horizontal-toggle-lines-gap + $horizontal-toggle-lines-thickness) * 2) / 2;
		right: 0;
		width: $horizontal-toggle-lines-width;

		@for $i from 1 through 2 {
			span:nth-child(#{$i + 1}) {
				top: $i * ($horizontal-toggle-lines-gap + $horizontal-toggle-lines-thickness);
			}
		}

		span {
			display: block;
			position: absolute;
			top: 0;
			background: $horizontal-toggle-color;
			@include size($horizontal-toggle-lines-width, $horizontal-toggle-lines-thickness);
			@include transition(all 0.2s ease-in);
			@include backface-visibility(hidden);

			.menu-opened & {
				&:nth-child(1) {
					top: $horizontal-toggle-lines-width / 4;
					@include transform(rotate(45deg));
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: $horizontal-toggle-lines-width / 4;
					@include transform(rotate(-45deg));
				}
			}
		}
	}
}